node_modules

.env
*.local
/.pnp*
/.eslintcache
.ackrc

# Firebase emulators data
/firebase-dev-data/

/firestore-debug.log
/firebase-debug.log
service-account/
.DS_Store
.firebase/*.cache
webapp.log
